body {
    background-color: grey;
}
#first-form{
  padding: 1em;
  width: 33%;
  margin:auto;
  border: none;
  background-color: white;
}

#first-form label, #first-form input{
  display: block;
}

#first-form [name="first-name"], #first-form [name="last-name"]{
  display: inline-block;
  width: 48.25%;
  padding: 0;
  margin: 0;
  height: 2em;
}

#first-form input, #first-form textarea, #first-form select, #first-form label{
  margin: 0.5em 0em;
}


#first-form input, #first-form textarea, #first-form select {
    border: 1%;
}

#first-form select{
    width: 100.5%;

    height: 2.5em;
    background: #dddddd;
    -webkit-apparence: none;
}
#first-form option {
    padding: 0;
    background: #dddddd;
}

#first-form [name="email"]{
    width: 100%;
    height: 2em;
}
#first-form textarea{
    width: 100%;
    height: 10em;
    padding: 0 0;
}
#first-form input[type="submit"]{
  background-color: #4b99ad;
  color: white;
  border: none;
  padding: 0.75em 1.5em;
}
#first-form label{
    font-weight: bold;
}
sup {
    color: red;
}
