sup {
    color: red;
    margin-left: 0.3em;
}

body {
    background-color: grey;
}

form {
    width: 50%;
    margin: auto;
    margin-bottom: 3em;
}

/*=============================== FIRST-FORM ==============================*/

#first-form {
    font-family: sans-serif;
    padding: 1em;
    border: none;
    background-color: white;
}

#first-form label, #first-form input {
    display: block;
}

#first-form [name="first-name"], #first-form [name="last-name"] {
    display: inline-block;
    width: 48.25%;
    padding: 0;
    margin: 0;
    height: 2em;
}

#first-form input, #first-form textarea, #first-form select, #first-form label {
    margin: 0.5em 0em;
}

#first-form input, #first-form textarea, #first-form select {
    border-width: : 2px;
}

#first-form select {
    width: 100.5%;
    height: 2.5em;
    background: #dddddd;
}

#first-form option {
    padding: 0;
    background: #dddddd;
}

#first-form [name="email"] {
    width: 100%;
    height: 2em;
}

#first-form textarea {
    width: 100%;
    height: 10em;
    padding: 0 0;
}

#first-form input[type="submit"] {
    background-color: #4b99ad;
    color: white;
    border: none;
    padding: 0.75em 1.5em;
}

#first-form label {
    font-weight: bold;
}

/*=============================== SECOND-FORM ==============================*/

#second-form {
    background-color: white;
    padding: 1em;
    font-family: sans-serif;
}

#second-form input {
    height: 1.5em;
}

#second-form input, #second-form select, #second-form textarea, #second-form label {
    display: inline-block;
}

#second-form input.phone2 {
    position: relative;
    display: inline-block;
    width: 10%;
    z-index: 1;
}

#second-form section.phone2 {
    position: relative;
}

#second-form label {
    width: 25%;
}

#second-form input, #second-form select, #second-form textarea {
    width: 50%;
    border-radius: 0.2rem;
    border: 1px solid #dddddd;
    box-shadow: 2px 2px 5px #dddddd;
    margin: 0.5em 0;
    padding: 0.3em 0;
}

section.phone2 label {
    width: 25%;
}

#second-form section.phone2 input {
    width: 5%;
}

#second-form select {
    width: 18%;
    height: 3em;
}

section.choice label {
    width: 25%;
}

section.choice select {
    width: 30%;
}

#second-form input[type="submit"] {
    background-color: #FF8500;
    width: 10%;
    height: 2em;
    margin-left: 25.5%;
    color: white;
    border: none;
    border-radius: 0.1rem;
}

#second-form textarea {
    border-radius: 0.1rem;
    height: 6em;
}

#second-form legend, #second-form label {
    font-weight: bold;
}

#second-form legend {
    font-style: italic;
}

#second-form hr.legend {
    border: none;
    background-color: #dddddd;
    height: 1px;
}

#second-form hr.hr_phone2 {
    width: 16%;
    position: absolute;
    bottom: 0.8em;
    left: 26%;
    z-index: 0;
}

#second-form label[for="message2"] {
    vertical-align: top;
    padding-top: 15px;
}

/*========================= THIRD FORM =====================================*/

#third-form {
    font-family: sans-serif;
    background-color: white;
    padding: 1em;
}

#third-form fieldset {
    background-color: #fff0f0;
    border: 2px solid #ffd2d2;
    border-radius: 0.8em;
    padding: 2em;
    color: #f287b6;
}

#third-form legend {
    border-style: solid solid none solid;
    border-color: #ffd2d2;
    background-color: #fff0f0;
    border-width: 2px;
    border-radius: 0.4em 0.4em 0 0;
    padding: 0.5em;
}

#third-form label {
    font-weight: bold;
    width: 25%;
}

#third-form input[name="sub3"] {
    background-color: #eb3b88;
    color: #ffcbe2;
    width: 12%;
    height: 2.5em;
    margin-left: 25.5%;
    border-radius: 0.3em;
    border: 1px solid #ffc2dc;
    font-weight: bold;
}

#third-form input, #third-form textarea, #third-form select {
    border-radius: 0.2em;
    border: 2px solid #ffc2dc;
    background-color: #ffeff6;
}

#third-form label, #third-form input, #third-form textarea, #third-form select {
    display: inline-block;
    margin: 0.5em 0;
}

#third-form input, #third-form select {
    width: 50%;
    height: 1.5em;
    color: #eb3b88;
}

#third-form textarea {
    width: 65%;
    height: 7em;
}

#third-form label[for="text3"] {
    vertical-align: top;
    padding-top: 8px;
}

#third-form select {
    height: 2em;
}

/* =========================== FORTH FORM ========================== */

#forth-form {
    background-color: #495c70;
    border: 5px solid #53687e;
    padding: 1em;
}

#forth-form input, #forth-form label {
    display: inline-block;
}

#forth-form label {
    width: 25%;
    color: #fafafb;
}

#forth-form input {
    width: 50%;
    height: 1.5em;
    background-color: #495c70;
    border-style: none none dashed none;
    border-color: #8599ae;
    border-width: 1px;
    margin-bottom: 0.5em;
}

#forth-form input[name="sub4"] {
    margin-left: 25.5%;
    border: none;
    width: 13%;
    border-radius: 0.3em;
    height: 2em;
    background-color: #53687e;
    color: #8599ae;
}
